/* Reset beberapa gaya default browser */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Gaya Umum */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    display: flex;
    background-color: #444;
    padding: 0.5em 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em 1em;
}

nav a:hover {
    background-color: #555;
}

main {
    padding: 2em;
}

section {
    margin-bottom: 1.5em;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: #fff;
}
